/** @format */

.income-expense-container {
  display: flex;
  border: 1px solid grey;
  box-shadow: 0 2px 4px #000;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  column-gap: 25px;
  padding: 10px 20px;
}
.income-expense-container h4 {
  text-transform: uppercase;
}
.income {
  position: relative;
}
.income::after {
  content: "";
  background: lightgray;
  width: 2px;
  height: 40px;
  position: absolute;
  top: 5px;
  right: -10px;
}
.income p {
  color: green;
}
.expense p {
  color: red;
}
